.arrow{
   display: inline-flex;
   position: relative;
}
.arrow:after{
   content: '';
   display: inline-flex;
   position: absolute;
   width: 14px;
   height: 2px;
   background-color: #000;
   transform: rotate(45deg) translate(-6px,0px);
}
.arrow:before{
   content: '';
   display: inline-flex;
   position: absolute;
   transform: rotate(-45deg) translate(-6px,0px);
   width: 14px;
   height: 2px;
   background-color: #000;
}